.swiper-container
  width: 100%
  height: 500px
  padding: 20px 0 0 0

.swiper-pagination-progress
  background: rgba(119, 119, 119, 0.20)
  .swiper-pagination-progressbar
    background: #70b4d6

.swiper-container
  width: 100%
  height: auto
  margin-left: auto
  margin-right: auto

.swiper-slide
  // text-align: center
  font-size: 18px
  background: #fff
  height: 200px
  color: white
  border-bottom: 2px solid rgba(35, 50, 53, 0.2)
  margin: 5px 0

  &:hover
    box-shadow: inset 3px -1px 68px -23px rgba(43, 134, 156, 0.2)

  span, p
    display: inline-block
    background-color: rgba(181, 171, 171, 0.49)
    color: white
    margin: 60px 0 0 5px

.post-title-card
  position: absolute
  z-index: 22
  width: 90%
  background-color: rgba(34, 161, 205, 0.88)
  a
    color: white
    text-decoration: none

.swiper-title
  font-size: 25px
  padding: .3em
