.swiper-container
  width: 100%
  height: 500px
  padding: 30px

.swiper-pagination-progress .swiper-pagination-progressbar
  background: $strong-font-color


.swiper-container-horizontal .swiper-pagination-progress
  width: 80%
  left: 13%
