---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face { font-family: Hind; src: url('../assets/fonts/Hind/Hind-Regular.ttf'); }
@font-face { font-family: Hind; src: url('../assets/fonts/Hind/Hind-Bold.ttf'); font-weight:bold; }

// Our variables
$spacing-unit:     30px;
$strong-font-color: #3E3E42;
$second-font-color: #939597;
$light-font-color: #e7e8e9;
$largest-font: 3em;

$font-accennt-color: #22a1cd;

body{
  background-color: #F2F2F2;
  background-color: #FFF;
}

a{
  color: $font-accennt-color;
}

.annotate{
  display: block;
  background-color: $light-font-color;
  color: $second-font-color;
  font-family: Hind;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  margin-top: 50px;
}


.main-container{
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
}


// INCLUDES
@import "_reset";
@import "_head";
@import "_index";
@import "_basic_post";

@import "_media_query";
@import "_swiper";
