---
layout: main
---

<div class="home">
  <div class="front-post">
    {% for post in site.posts limit:1 %}
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
      </h2>
      <span class="post-meta">| {{ post.date | date: "%b %-d, %Y" }}</span>
        {{ post.excerpt }}
    {% endfor %}
  </div>

  <div class="post-list">
    <div class="display swiper-container">
      <div class="swiper-wrapper">
          {% for post in site.posts offset:1 %}
          <div class="swiper-slide" style= "background-image:url({{ post.featured-image }}); background-size:cover">
            <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="swiper-title">{{ post.title | escape }}</h2></a>
            <span class="post-meta label">{{ post.date | date: "%b %-d, %Y" }}</span>
            <br>
            {{post.excerpt | truncatewords: 15}}
          </div>
          {% endfor %}
      </div>

      <div class="swiper-pagination"></div>

    </div>

    <div class="controls">
      <div class="swiper-button-prev"></div>
      <!-- <div class="button-list-posts"> | | | </div> -->
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <p class="annotate">
    Misiunea web este un blog despre universul web. Daca vrei sa devii autor, <a href="#">poti</a>!
  </p>


  <!-- <div class="tldr">
    <a name="podcast"></a>
    <h1>TL;DR?</h1>
    <div class="soon">
      în lucru
    </div>
  </div> -->

  <p class="annotate">
    Creat si mentinut de @pixel-mircea. 2016
  </p>

</div>
