<div class="autor">
  <div class="img-autor">
    <img src="{{ site.baseurl }}/assets/img/autor-mircea-stanciu.png" alt="autor Mircea Stanciu" />
  </div>

  <div class="info-autor">
    <h2 class="num-autor">
      {{ include.nume-autor }}
    </h2>

    <p class="desc-autor">
      {{ include.descriere-autor }}
    </p>
  </div>

  <div class="meta-autor">
    <ul class="autor-list">
      <li class="autor-link">
        <a href="{{ include.link-1 }}">{{ include.link-1title }}</a>
      </li>
      <li class="autor-link">
        <a href="{{ include.link-2 }}">{{ include.link-2title }}</a>
      </li>
      <li class="autor-link">
        <a href="{{ include.link-3 }}">{{ include.link-3title }}</a>
      </li>
      <li class="autor-link">
        <a href="{{ include.link-4 }}">{{ include.link-4title }}</a>
      </li>
    </ul>
  </div>

  <p>
    <!-- meta-ath -->
  </p>
</div>
