<!doctype html>
<html lang="en">
{% include meta_head.html %}
  <body>

    {% include head.html %}
    <div class="main-container">
      {{ content }}
    </div>

    <script src="assets/swiper/js/swiper.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/functions.js"></script>

    <script>
      var mySwiper = new Swiper ('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        // direction: 'vertical',
        loop: false,
        slidesPerView: 1,
        slidesPerColumn: 2,
        pagination: '.swiper-pagination',
        paginationType: 'progress',
        preventClicks: false,
        preventClicksPropagation: false,
        // Navigation arrows
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',

        // And if we need scrollbar
        // scrollbar: '.swiper-scrollbar',
      })
      </script>

  </body>
</html>
