---
comments: true
---
<!DOCTYPE html>
<html>
  {% include meta_head.html %}
  <body>

  <header class="post-header">
    <h1 class="title">{{ page.title }}</h1>
    <p class="post-meta">-- {{ page.date | date: "%b %-d, %Y" }} --{% if page.meta %} <br> {{ page.meta }}{% endif %}</p>
  </header>

  <div class="post-wrap">
    <div class="content">
      <div class="post">
        <article class="article-content">
          {{ content }}
        </article>
      </div>
    </div>

  </div>


    <div class="post_nav">
      <a href="{{site.baseurl}}/index.html">home</a>
    </div>

  {% include comments.html %}

  <p class="annotate">
    Creat si mentinut de @pixel-mircea. 2016
  </p>


  </body>
</html>
